---
import Layout from "../layouts/Layout.astro";
import NavBar from "../layouts/NavBar.astro";

const config = {
    appTitle: import.meta.env.PUBLIC_APP_TITLE
}

---

<Layout title={config.appTitle}>
        <NavBar title={config.appTitle}></NavBar>   
        <section class="grid">
            <a href="/admin/convocations"><article>Convocatorias</article></a>
            <a href="/admin/topics"><article>Temas</article></a>
            <a href="/admin/questions"><article>Preguntas</article></a>
            <a href="/admin/tests"><article>Tests</article></a>
        </section>  
</Layout>