---
export interface Props {
    title: string;
    
}

const { title } = Astro.props;

---

<nav>
    <ul>
        <li><a href="/"><h2>{title}</h2></a></li>
    </ul>
    <ul>
    { (Astro.url.pathname.includes('/admin')) && 
        <li><a href="/admin/convocations">Convocatorias</a></li>
        <li><a href="/admin/topics">Temas</a></li>
        <li><a href="/admin/questions">Preguntas</a></li>
        <li><a href="/admin/tests">Tests</a></li>}
    </ul>
    <ul>
        { (Astro.url.pathname === '/') && <li><a href="admin">Admin</a></li>}
        <li><a href="#" role="button">Nuevo Test</a></li>
    </ul>
</nav>
<pre>This is the path: {Astro.url.pathname}</pre>
